# Fichiers et répertoires liés à Eclipse
.metadata/
.classpath
.project

# Répertoire des classes compilées
bin/

# Documentation générée
doc/

# Fichiers et répertoires liés à Visual Studio Code
.vscode/
.settings/
